body {
	margin: 50px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif; /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*position: relative;
    height: 100%;
    width: 100%;*/
	background-image: linear-gradient(to bottom right, #ffeeaa, #ffce2f);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 3px;
	margin: 3px;
}

h2 {
	/*top title*/
	background-color: #eea300;
	padding: 30px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.right-side {
	border: 5px;
	border-color: black;
	border-style: inset;
	position: absolute;
	flex-direction: column;
	/*    align-content: center;*/
	text-align: center;
	/*    justify-content: center;*/
	display: flex;
	right: 50px;
	top: 180px;
	width: 500px;
	height: 600px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.tasks {
	background: #ffce2f;
	padding: 13px 13px;
	border-radius: 10px;
	/*text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;*/
	color: black;
	font-size: 18px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	width: fit-content;
	margin-bottom: 6px;
}

#deleteButton {
	margin-left: 7px;
	align-content: center;
}

#myCheck {
	margin-right: 7px;
}

#myProgress {
	/*background bar*/

	background-color: white;
	height: 40px;
	margin: 40px; /*padding for inside, margin for outside*/
}

#myBar {
	/*moving bar*/
	width: 1%;
	height: 40px;
	background-color: #eea300;
}
